html {
    background-image: url("../assett/base.jpg");
    background-repeat: no-repeat;
    background-color: #4d4d4d;
    background-size: cover;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(3, 3, 20, 0.6);
    backdrop-filter: blur( 200px );
    -webkit-backdrop-filter: blur( 200px );
  }
  
  .centered-content {
    width: 100vw;
    text-align: center;
  }
  
  .centered-content img {
    height: 250px;
    width: 250px;
    max-width: 100%;
  }
  
  .centered-content h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .centered-content h2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 15px;
  }
  
  .centered-content button {
    border-radius: 9px;
    background: #234BF7;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 30px;
    border: 0px;
    margin-top: 15px;
    transition: background 0.2s; /* Adding a smooth transition for a better effect */
  }
  
  .centered-content button:hover {
    background: #4d6cf8;
  }
  
  .centered-content button:active {
    background: #1a2f9d; /* Customize the color for the click effect */
  }

  #page1 {
    width: 100vw;
  }

  #page2, #page3{
    width: 100vw;
    display: none;
  }

  svg {
    border-radius: 50%;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 30px;
    cursor: pointer;
    overflow: visible;
    
    &.active {
      rect {
        width: 80px;
        transition: .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);;
      }
    }
  }

  circle {
    transform-origin: 50%;
    fill: #c2cbf3;
  }

  .circle-3 {
    opacity: 1;
    animation: expandCOne 3s infinite;
  }
  
  .circle-4 {
    opacity: 0.8;
    animation-delay: .5s;
    animation: expandCTwo 3s infinite;
    animation-delay: 0.6s;
    transition: .4s;
  }

  @keyframes expandCOne {
    0% {
      transform: scale(1);
    }
    90% {
      transform: scale(3);
      opacity: 0;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  
  @keyframes expandCTwo {
    0% {
      transform: scale(1);
    }
    90% {
      transform: scale(2.7);
      opacity: 0;
    }
    100% {
      transform: scale(2.7);
      opacity: 0;
    }
  }